@import '../../styles/_colors.scss';
.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control {
    display: block;
    box-sizing: content-box;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid $primary;
    height: 20px;
}

.btn {
  box-sizing: content-box;
  padding: 0.375rem 0.75rem;
  background-color: $primary;
  text-align: center;
  cursor: pointer;
  height: 20px;
  color: $white;
}


.person-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.person-card-container > * {
    margin-bottom: 1rem;
    width:200px;
    height: 200px;
}

.person-card-count {
    display: flex;
    align-items: st;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search-error{
    display: flex;
    align-items: st;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: red;
}

.person-container {
    height:100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}