.quote-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1.5rem 0;
    padding: 1rem 1rem 1rem 0.5rem;
}

.quote-content {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.quote-like {
    color: darkgray;
}