@import '../../styles/_colors.scss';

.name-container {
    font-size: 30px;
    font-weight: bold;
    margin: 2rem 0;
}

.favorite-color-container {
    font-size: 1rem;
    color: gray;
}
.error{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: red;
}
.no_quote_msg {
    color: $darkGrey;
}
.back-button{
    cursor: pointer;
}
